@model IList<Modelo.Models.Articulos>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Listado de reparaciones</h4>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Producto</th>
                        <th>Fabricante&nbsp;</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Nombre</td>
                            <td>@item.Fabricantes.Nombre</td>
                            <td>@item.Precio</td>
                            <td>@item.Stock</td>
                            <td>
                                <a id="btn-edit" data-bs-target="#modal-articulo" data-bs-toggle="modal" onclick="abrirModal(@item.Id)">
                                    <i class="fa fa-edit fs-3 text-primary"></i>
                                </a>
                                <a id="btn-delete" data-bs-target="#modal-articulo" data-bs-toggle="modal" onclick="confirmacion(@item.Id)">
                                    <i class="fa fa-trash fs-4 text-danger" style="margin-left: 20px;"></i>
                                </a>
                            </td>
                        </tr>
                    }
                    <tr></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
