@model Modelo.Models.Pedidos
<div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
        <div class="container-fluid">
            <h3 class="text-dark mb-1">Pedido</h3>
            <hr>
        </div>
        <div>
            <div class="row">
                <div class="col-3 d-flex justify-content-center">
                    @Html.DropDownList("Proveedores", new SelectList(ViewBag.Proveedores, "Key", "Value"), new { @class = "btn btn-primary dropdown-toggle form-control", @title = "Seleccione Proveedor" })
                    <button class="btn btn-secondary flex-row justify-content-center align-items-center align-content-center" type="button" data-bs-target="#modal-proveedor" data-bs-toggle="modal">Nuevo</button>
                </div>
                <div class="col-2" style="margin-right: 0px;margin-left: 35px;"><button class="btn btn-primary flex-row justify-content-center align-items-center align-content-center" type="button" data-bs-toggle="modal" data-bs-target="#modal-productos" onclick="abrirModal()">Agregar productos</button></div>
            </div>
        </div>
        <div style="margin: 70px;margin-left: 20px;margin-top: 20px;">
            <h5>Productos</h5>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Cantidad</th>
                            <th>Precio Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.PedidosDet)
                        {
                            <tr>
                                <td>@item.Articulos.Nombre</td>
                                <td>@item.Cantidad</td>
                                <td>@item.Total</td>
                                <td><a id="btn-edit" href="#" data-bs-target="#modal-productos" data-bs-toggle="modal"><i class="fa fa-edit fs-4 text-primary"></i></a><a id="btn-delete" href="#" data-bs-target="#modal-confirmacion" data-bs-toggle="modal"><i class="fa fa-trash fs-4 text-danger" style="margin-left: 20px;"></i></a></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <div class="row text-start">
                <div class="col">
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div><a class="border rounded d-inline scroll-to-top" onclick="Generar()" style="background: rgba(90,92,105,0);margin-right: 155px;"><button class="btn btn-success fs-5 link-light" type="button" style="width: 195.078px;margin-right: 0px;" data-bs-toggle="modal">Realizar Pedido</button></a>


<div class="modal fade" role="dialog" tabindex="-1" id="modal-confirmacion">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmación</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Desea borrar el item?</p>
            </div>
            <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Cerrar</button><button class="btn btn-danger" type="button">Borrar</button></div>
        </div>
    </div>
</div>
<div id="modalDiv">
    <div class="modal fade" role="dialog" tabindex="-1" id="modal-productos">
        <div class="modal-dialog modal-xl" role="document">

        </div>
    </div>
</div>

<script src="~/Scripts/FileDownload.js"></script>
<script>
    $(document).ready(function () {
        $("#Proveedores").val("-1");
    })
    function abrirModalProveedor(e) {
        $.ajax({
            url: '/Pedidos/GetProveedores',
            data: { 'id': e },
            type: "post",
            cache: false,
            success: function (result) {
                $('#modalDiv').html(result);
            }
        });
    }

    function abrirModal() {
        $('#modal-productos').html("");
        $.ajax({
            url: '/Pedidos/GetArticulos',
            type: 'GET',
            cache: false,
            success: function (result) {
                $('#modal-productos').html(result);
            }
        });
    }

    function AddProducto(e) {
        $("#loader").show()
        var articulo = DatosArticulo(e);
        //$.ajax({
        //    type: 'POST',
        //    url: '/Articulos/Guardar',
        //    data: { "articulo": articulo },
        //    success: function (result) {
        //        if (result) {
        //            toastr.success("Se ha generado el articulo.", "Éxito", { disableTimeOut: true, closeButton: true });
        //            setTimeout(function () {
        //                location.reload(true);
        //            }, 1000);
        //        } else {
        //            toastr.warning("No se modificaron datos.")
        //        }
        //        $("#loader").hide()

        //    },
        //    error: function () {
        //        toastr.error("Ocurrió un error al guardar el articulo");
        //        $("#loader").hide()
        //    }
        //});
    }

    function DatosArticulo(e) {
        var tds = e.getElementsByTagName('td');
        //var id = tds[0].val;
        //var cantidad = tds[1].val;

        console.log(e);
        /*conole.log(cantidad);*/
        //return {
        //    Id: document.getElementById("articulo_cod").value,
        //    Nombre: document.getElementById("articulo_denom").value,
        //    Stock: document.getElementById("articulo_stock").value,
        //    Precio: document.getElementById("articulo_precio").value,
        //    Estado: document.getElementById("check_estado").checked,
        //    Fabricante: e.options[e.selectedIndex].value,
        //    Sucursal: 1
        //}
    }

    function Generar() {
        let date = new Date().toLocaleDateString();
        $("#loader").show()
        $.ajax({
            type: 'GET',
            url: '/Pedidos/Generar',
            data: { pedidoId: @Model.Id},
            success: function (data) {
                downloadBase64Bytes(data, "Pedido-Articulos:" + date, "application/pdf")
                $("#loader").hide()
            },
            error: function () {
                toastr.error("Ocurrió un error al generar el informe del caso.");
                $("#loader").hide()
            }
        });
    }
</script>
