@model Business.Data_Transfer_Objects.HomeDto

@*@{
        ViewBag.Title = "Home";
    }*@
<div class="d-sm-flex justify-content-between align-items-center mb-4">
    <h3 class="text-dark mb-0">Panel de Control</h3>
</div>
<div class="row">
    <div class="col-lg-7 col-xl-8">
        <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <p class="text-primary m-0 fw-bold" style="--bs-primary: #4e73df;--bs-primary-rgb: 78,115,223;">Últimos Movimientos</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-responsive">
                        <thead>
                            <tr>
                                <th width="100px">Fecha</th>
                                <th width="100px">Sector</th>
                                <th width="500px">Detalle</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.Reparacion.FechaAlta.Value.ToShortDateString()</td>
                                <td>Reparacion</td>
                                <td>@Model.Reparacion.Nombre - @Model.Reparacion.Descripcion</td>
                                <td><a id="btn-edit" href="~/Reparaciones/Index"><i class="fa fa-edit fs-4 text-primary"></i></a></td>
                            </tr>
                            <tr>
                                <td>@Model.Pedido.FechaAlta.Value.ToShortDateString()</td>
                                <td>Pedidos</td>
                                <td>Proveedor: @Model.Pedido.Proveedores.Nombre - Cantidad: @Model.Pedido.PedidosDet.Count()</td>
                                <td><a id="btn-edit" href="~/Pedidos/Index"><i class="fa fa-edit fs-4 text-primary"></i></a></td>
                            </tr>
                            <tr>
                                <td>@Model.Venta.FechaAlta.Value.ToShortDateString()</td>
                                <td>Ventas</td>
                                <td>Costo Venta: @Model.Venta.Precio - Cantidad: @Model.Venta.VentasDet.Count()</td>
                                <td><a id="btn-edit" href="~/Ventas/Index"><i class="fa fa-edit fs-4 text-primary"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-xl-4">
        <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <p class="text-primary m-0 fw-bold" style="--bs-primary: #4e73df;--bs-primary-rgb: 78,115,223;">Nuevos productos</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-responsive">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Fabricante</th>
                                <th>Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Articulos)
                            {
                            <tr>
                                <td>@item.Nombre</td>
                                <td>@item.Fabricantes.Nombre</td>
                                <td> $ @item.Precio</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


