@model Modelo.Models.Reparaciones
@if (ViewBag.Delete == true)
{
    <div class="modal-header">
        <h4 class="modal-title">Confirmación</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <p>¿Desea borrar la reparacion @Model.Id: @Model.Nombre ?</p>
    </div>
    <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Cerrar</button><button class="btn btn-danger" onclick="Delete(@Model.Id)" type="button" data-bs-dismiss="modal">Borrar</button></div>


}
else
{
    <div class="modal-header">
        <h4 class="modal-title">Reparacion</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="card shadow mb-3">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Nueva Reparación</p>
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3"><input class="form-control" type="text" id="producto_codigo" name="codigo" style="display:none" value="@Model.Id"></div>
                            <div class="mb-3"><input class="form-control" type="text" id="sucursal" name="sucursal" style="display:none" value="@Model.Sucursal"></div>
                            <div class="mb-3"><input class="form-control" type="text" id="fecha" name="fecha" style="display:none" value="@Model.FechaAlta"></div>
                            <div class="mb-3"><label class="form-label" for="producto"><strong>Producto</strong></label><input class="form-control" type="text" id="producto_reparacion" placeholder="Ingrese producto" name="producto" value="@Model.Nombre"></div>
                        </div>
                        <div class="col">
                            <div class="mb-3"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3"><label class="form-label" for="descripcion"><strong>Descripción</strong></label><input class="form-control" type="text" id="descripcion_reparacion" placeholder="Añada una descripcion de la accion a realizar" name="descripcion" value="@Model.Descripcion"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label class="form-label" for="observaciones"><strong>Observaciones</strong></label>
                                <div class="form-check"><input class="form-check-input" type="checkbox" id="check_danado" @(Model.EstaDanado.GetValueOrDefault() ? "checked=\"\"" : "")><label class="form-check-label" for="check_danado">Dañado</label></div>
                                <div class="form-check"><input class="form-check-input" type="checkbox" id="check_trans" @(Model.TieneTransformador.GetValueOrDefault() ? "checked=\"\"" : "")><label class="form-check-label" for="check_trans">Transformador</label></div>
                                <div class="form-check"><input class="form-check-input" type="checkbox" id="check_funda" @(Model.TieneFunda.GetValueOrDefault() ? "checked=\"\"" : "")><label class="form-check-label" for="check_funda">Funda</label></div>
                                <div><label class="form-label">Otros</label><textarea class="form-control" placeholder="Otros datos a añadir" id="otras_obs">@Model.Observaciones</textarea></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label class="form-label" for="estado"><strong>Estado de reparación</strong></label>
                                <div class="dropdown" id="estado">
                                    @Html.DropDownListFor(m => m.Estado, new SelectList(ViewBag.Estados, "Key", "Value"), new { @class = "btn btn-light dropdown-toggle" })
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3"><label class="form-label" for="costo"><strong>Costo</strong></label><input class="form-control" type="text" oninput="soloDecimal(event)" id="costo_reparacion" placeholder="$0" name="costo" style="text-align: right;" value="@Model.Costo"></div>
                        </div>
                    </div>
                    <div class="mb-3"></div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Cerrar</button><button class="btn btn-primary" type="button" onclick="Guardar()" data-bs-dismiss="modal">Guardar</button></div>


}
<script>
    function soloDecimal(event) {
        var pattern = /^\d+(\.\d{0,2})?$/;
        var regex = new RegExp(pattern);
        if (regex.test(event.target.value))
            return true;

        var textbox = event.target;
        var ss = textbox.selectionStart;
        var se = textbox.selectionEnd;
        var ln = textbox.value.length;

        var textbefore = textbox.value.substring(0, ss);    //text in front of selected text
        var textselected = textbox.value.substring(ss, se); //selected text
        var textafter = textbox.value.substring(se, ln);    //text following selected text

        if (ss == se) // if no text is selected
        {
            textbox.value = textbox.value.substring(0, ss - 1) + textbox.value.substring(se, ln);
            textbox.focus();
            textbox.selectionStart = ss - 1;
            textbox.selectionEnd = ss - 1;
        }
        else // if some text is selected
        {
            textbox.value = textbefore + textafter;
            textbox.focus();
            textbox.selectionStart = ss;
            textbox.selectionEnd = ss;
        }
    }
</script>


